@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@font-face {
  font-family: Gambarino;
  src: url("./Fonts/Gambarino-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Playfair Display Semibold Italic;
  src: url("./Fonts/PlayfairDisplay-SemiBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Playfair Display Bold;
  src: url("./Fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Bold;
  src: url("./Fonts/HelveticaNeueLTStd-Bd.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Black;
  src: url("./Fonts/HelveticaNeueLTStd-Blk.otf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: Helvetica Extended;
  src: url("./Fonts/HelveticaNeueLTStd-BlkEx.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  src: url("./Fonts/HelveticaNeueLTStd-Roman.otf");
  ascent-override: 100%;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Univers;
  src: url("./Fonts/UniversLTStd.otf");
  ascent-override: 100%;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Univers Bold;
  src: url("./Fonts/UniversLTStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Univers;
  src: url("./Fonts/UniversLTStd-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
::selection {
  background-color: rgba(255, 255, 255, 0.164);
  text-shadow: 0 0px 5px rgb(0, 255, 128);
}
::-webkit-scrollbar {
  background-color: rgba(10, 15, 15);
  color: hsl(0, 0, 40);
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
:root {
  --bfont: "Helvetica", sans-serif;
  --tfont: "Gambarino";
  --halation: 0 0px 2px rgb(255, 0, 0);
  --halationm: 0 0px 2px rgb(255, 0, 0);
  --whiteborder: 0px solid rgb(255, 225, 255);
  --whiteradius: 1vw;
  --pageradius: 0.5vw;
  --icon: rgba(200, 200, 200, 1);
  --category: rgba(60, 60, 60, 1);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
body {
  background-color: black;
  color: white;
  font-family: var(--bfont);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
img,video{
  mix-blend-mode: normal;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 2vw;
}
#BgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}
.title {
  mix-blend-mode: difference;
  max-width: fit-content;
  font-size: 7vw;
  font-family: var(--tfont);
  color: white;
  padding-top: 0.5vw;
}
.textnphoto {
  mix-blend-mode: difference;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  font-size: 1.4vw;
  padding: 0;
}
.para {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  font-size: 1.4vw;
  padding: 0;
}
.me {
  width: 15vw;
  height: 15vw;
  margin-right: 0.6vw;
  border: var(--whiteborder);
  border-radius: var(--whiteradius);
}
.icon, .wicon{
  height: 2.5vw;
  margin-right: 0.6vw;
  fill: white;
  padding: 0.5vw;
  color: black;
}
.wicon{
  fill: black;
  height: 2vw;
  margin-right: 0vw
}
.iconpanel{
  margin-top: 2vw;
}
.IconLink{
  display: flex;
  align-items: center;
}
.dwicon {
  color: black;
}
.ProjIcons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2vw;
  align-items: center;
  height: fit-content;
  width: 20vw;
  padding-left: 1vw;
}
.ProjDownload, .Whatsapp, .WhatsappProj {
  display: flex;
  font-size: 1.4vw;
  max-width: fit-content;
  background-color: white;
  color: white;
  padding: 1.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  margin-right:0.2vw;
  border: 0px solid #ffffff;
  font-weight: bold;
  border-radius: 0.55vw;
}
.Whatsapp, .WhatsappProj{
  color: #000;
  opacity: 1;
  font-size: 1.4vw;
  padding: 1vw;
  padding-bottom: 0;
  padding-top: 0;
}
.Contact {
  display: flex;
  max-width: fit-content;
  margin-bottom: 0.5vw;
  font-family: var(--bfont);
}
a {
  width: fit-content;
  margin: 0;
  color: white;
  text-decoration: none;
  box-sizing: content-box;
}
.cinematographyContainer{
  display: grid;
  margin-bottom: 3vw;
  margin-top: 3vw;
  border-radius: var(--whiteradius);
  box-shadow: -300px 0px 200px 60px rgba(0, 0, 0, 0.5), 
               300px 0px 200px 60px rgba(0, 0, 0, 0.5);
}
.cinematography{
  display: flex;
  width: 60vw;
  border-radius: var(--whiteradius);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 0;
}
.FilmGrid{
  display: grid;
  gap: 1.8vw;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-top: 1vw;
  z-index: 2;
  max-width: 60vw;
}
.FilmTitle {
  display: grid;
  padding: 0.7vw;
  padding-bottom: 0.2vw;
  font-size: 1.3vw;
  font-family: var(--bfont);
  font-weight: 600;
}
.videotitle{
  position: absolute;
  font-family: var(--bfont);
  font-size: 4vw;
  display: flex;
  align-self: center;
  justify-self: center;
  z-index: 1;
  margin: 2vw; 
  text-shadow: 0px 0px 20px black;
}
.videocover{
  position: absolute;
  display: flex;
  border-radius: var(--whiteradius);
  z-index: 1;
  max-width: 60vw;
  aspect-ratio: auto;
}
.ratio{
  aspect-ratio: 16 / 9;
}
.FilmFullscreen{
  position: absolute;
  opacity: 0;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 1vw;
  border-radius: var(--whiteradius);
  z-index: 1;
  aspect-ratio: auto;
}
.cinematographyContainer:hover .FilmFullscreen{
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.FilmFullscreenSvg{
  filter: drop-shadow(0px 0px 5px black);
  width: 2.5vw;
  fill: white;
}
.timestamp{
  position: absolute;
  font-family: var(--bfont);
  font-size: 1.2vw;
  display: flex;
  flex-grow: 1;
  z-index: 5;
  margin: 2vw; 
  align-self: flex-end;
  justify-self: center;

}
.cinematography.darker{
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.visible {
  opacity: 1 !important;
  transition: opacity 0.1s ease-in-out, visibility 0.4s ease-in-out;
}
.hidden {
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.4s ease-in-out;
}
.PhotoDisplayContainer{
  display: grid;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3vw;
  margin-top: 3vw;
  width: 65vw;
  background-color: black;
  border-radius: var(--whiteradius);
  overflow-x: auto;
  /*box-shadow: -300px 0px 200px 60px rgba(0, 0, 0, 0.5), */
  /*             300px 0px 200px 60px rgba(0, 0, 0, 0.5);*/
}
.PhotoDisplayContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Webkit (Chrome, Safari) */
}
.PhotoDisplayImage{
  max-height: 75vh;
  max-width: 50vw;
}
.PhotoScroll {
  align-items: center;
  min-height: fit-content;
  max-width: 65vw;
  display: flex;
  overflow-x:scroll;
  scroll-behavior: smooth;
  scroll-snap-stop: always; 
  /* Instagram-style snapping */
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
.PhotoScroll::-webkit-scrollbar {
  display: none; /* Hide scrollbar on Webkit (Chrome, Safari) */
}
.PhotoScroll > .ImageBleed {
  scroll-snap-align: start; /* Ensures images snap into place */
  scroll-snap-stop: always;

}
.ImageBleed {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65vw;
  min-height: 90vh;
}
.nav-btn{
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 1vw;
}
.nav-btn-svg {
  fill: white;
  width: 3vw;
}
.left{
  align-self: center;
  justify-self: start;
}
.right{
  align-self: center;
  justify-self: end;
}
.Gallery,
.Projects {
  display: grid;
  gap: 1.8vw;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding-top: 1vw;
  max-width: 60vw;
}
.GalleryTitle,
.ProjectTitle {
  mix-blend-mode: difference;
  width: 60vw;
  font-size: 6.4vw;
  font-family: var(--tfont);
}
.ProjectSubheading {
  width: 60vw;
  font-size: 4.4vw;
  font-family: var(--tfont);
}
.galleryBox,
.ProjectBox,
.FilmContainer{
  display: grid;
  flex-direction: column;
  border: var(--whiteborder);
  border-radius: var(--whiteradius);
  box-sizing: content-box;
  max-width: fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.thumbnail {
  width: 100%;
  aspect-ratio: auto;
  z-index: 9;
  border-bottom: var(--whiteborder);
  border-radius: var(--whiteradius);
}
.galleryText,
.ProjectText{
  display: grid;
  padding: 0.7vw;
  font-size: 1.7vw;
  font-family: var(--bfont);
  font-weight: 600;
}
.ProjectText {
  mix-blend-mode: difference;
  padding-bottom: 0;
}
.space {
  height: 6.5vw;
}
.CategoryContainer {
  mix-blend-mode: difference;
  display: grid;
  width: fit-content;
  grid-auto-flow: column;
  padding-left: 0.3vw;
  padding-bottom: 1vw;
}
.Category {
  max-width: fit-content;
  font-size: 1.1vw;
  padding: 0.2vw;
  margin: 0.2vw;
  color: var(--icon);
}
.ProjectPage {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
.ProjectCont {
    display:flex;
    flex-direction:column;
  }
.ProjectPageTitleContainer {
  mix-blend-mode: difference;
  flex-direction: column;
  padding-top: 4vw;
  width: 50vw;
  box-sizing: border-box;
  display: flex;
  left: 0;
}
.ProjectTitleTextDownload {
  display: grid;
  gap: 0.7vw;
  padding: 1vw;
  padding-bottom: 1vw;
}
.ProjectPageTitle {
  line-height: 1.2;
  font-family: var(--tfont);
  font-size: 3.3vw;
}
.BackButton {
  position: fixed;
  transform: translateX(-6vw);
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: var(--bfont);
  text-align: left;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  align-items: flex-start;
  margin: 0.5vw;
  height: fit-content;
  width: fit-content;
  border: var(--whiteborder);
  border-radius: var(--whiteradius);
}
.BackText{
  visibility: hidden;
}
.ProjectPageText {
  width: 80%;
  padding: 0.3vw;
  font-size: 1.35vw;
}
.PresentationScrolling,
.ZineScrolling {
  display: grid;
  align-self: flex-end;
  gap: 1.5vw;
  width: 75vw;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 1vw;
  margin-top: 1vw;
  margin-right: 1vw;
}
.ZineScrolling {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.PresentationScrolling {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.Page {
  width: 100%;
  display: flex;
  align-items: end;
  border-radius: var(--pageradius);
}
.VDKSelect {
  mix-blend-mode: difference;
  font-size: 6vw;
  font-family: var(--tfont);
}
.VDKSelectContain {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  :root{
    --whiteradius: 2.6vw;
    --pageradius: 1vw;
  }
  .title {
    font-size: 10.5vw;
  }
  .textnphoto {
    width: 90vw;
  }
  .para {
    font-size: 2.5vw;
    width: 57vw;
  }
  .me {
    width: 30vw;
    height: 30vw;
  }
  #BgVideo{
    transform: rotate(90deg);
    right: auto;
    max-width: 100vh;
  }
  .cinematographyContainer{
    max-width: 90vw;
  }
  .FilmGrid{
    max-width: 90vw;
    gap: 2.8vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 5vw;
  }
  .videotitle{
    font-size: 6vw;
  }
  .timestamp{
    font-size: 3vw;
    margin: 3vw;
  }
  .FilmTitle{
    font-size: 4vw;
    padding:2vw ;
    padding-bottom: 0;
  }
  .videocover{
    max-width: 90vw;
  }
  .FilmContainer{
    margin-bottom: 3vw;
  }
  .cinematography{
    width: 90vw;
  }
  .FilmFullscreenSvg{
    width: 5vw;
  }
  .FilmFullscreen{
    margin: 3vw;
  }
  .cinematographyContainer:hover .FilmFullscreen {
    opacity: 0;
  }
  .PhotoDisplayContainer{
    width: 90vw;
  }
  .PhotoScroll{
    max-width: 90vw;
  }
  .ImageBleed{
    min-width: 90vw;
    min-height: 50vh;
  }
  .PhotoDisplayImage{
    max-height: 40vh;
    max-width: 70vw;
  }
  .nav-btn-svg{
    width: 6vw;
  }
  .Gallery,
  .Projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4.5vw;
    max-width: 90vw;
    padding-left: 1.7vw;  
    padding-right: 1.7vw;
  }
  .Gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3.5vw;
  }
  .GalleryTitle,
  .ProjectTitle {
    width: 90vw;
    font-size: 10vw;
  }
  .galleryText {
    font-size: 3vw;
    padding: 1.3vw;
  }
  .ProjectText {
    font-size: 4.3vw;
    padding: 1.3vw;
    padding-bottom: 0;
  }
  .CategoryContainer {
    padding-left: 1vw;
  }
  .Category {
    font-size: 2.2vw;
  }
  .ProjectPage {
    display: flex;
    width: 88vw;
    height: auto;
    align-items: center;
    overflow: auto;
  }
  .ProjDownload{
    font-size: 7vw;
    padding: 0.5vw;
    margin-top: 0;
    margin-right: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 0.8vw;
    border-radius: 2vw;
  }
  .iconpanel{
    flex-direction: row-reverse;
    align-items: center;
  }
  .ProjIcons{
    width: 50vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    gap: 2vw;
  }
  .icon {
    height: 6vw;
    mix-blend-mode: difference;
    padding: 1vw;
  }
  .ProjDownload{
    margin: 0vw;
  }
  .dwicon{
    font-size: 5vw;
    line-height: 7vw;
    max-height: fit-content;
  }
  .wicon{
    height: 5vw;
  }
  .WhatsappProj, .Whatsapp{
    font-size: 3.3vw;
    border-radius: 2vw;
    padding: 2vw;
    margin-right: 2vw;
  }
  .WhatsappProj{
    font-size: 5vw;
  }
  .ProjectPageTitleContainer {
    position: relative;
    flex-direction: column;
    padding: 0;
    width: 90vw;
  }
  .ProjectCont{
    padding-top: 10vw;
  }
  .ProjectPageTitle {
    width: fit-content;
    font-size: 10vw;
    margin-bottom: 6vw;
  }
  .ProjectPageText {
    font-size: 4vw;
    width: 100%;
  }
  .BackButton {
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(-1vw);
    margin-left: 0;
    gap: 2vw;
    padding-left: 0;
    opacity: 0.8;
  }
  .BackText{
    font-size:4vw;
  }
  .material-symbols-outlined {
    font-size: 5vw;
  }
  .ZineScrolling,
  .PresentationScrolling {
    width: 88vw;
    gap: 2vw;
    height: auto;
    align-self: center;
    justify-content: center;
    margin-bottom: 5vw;
  }
  .ZinePage {
    width: calc((100% / 2) - 2.67vw);
    margin: 1vw;
  }
  .Page{
    border-radius: var(--pageradius);
  }
  .PresentationPage {
    margin: 1vw;
  }
  .VDKSelectContain {
    flex-direction: column;
  }
  .VDKSelect {
    font-size: 22vw;
  }
}
